<main
  class="container d-flex flex-column flex-md-row"
  style="background-color: #96bea3"
>
  <section
    class="py-5"
    style="
      background-image: url(/src/assets/images/fruits\ et\ legumes3.jpg);
      background-size: cover;
      background-position: center;
    "
  >
    <div>
      <div class="text-center mx-auto col-md-10">
        <h1 class="fs-1 mb-3 fw-bold text-dark">Bienvenue à vous Admin !</h1>
        <p class="fs-2 text-dark">
          Bienvenue sur votre espace d'administration, le centre de gestion de
          produits votre boutique en ligne. Ici, vous avez le pouvoir de
          façonner l'offre de produits à la perfection. Cette page est conçue
          pour vous offrir une expérience de gestion fluide et intuitive...
        </p>
      </div>
      <main class="container mt-4 col-md-6 mx-auto">
        <div class="row">
          <div class="col-md-12">
            <h2>Gestion des Produits</h2>
            <form id="productForm">
              <div class="form-group">
                <label for="productName">Nom du produit:</label>
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  required
                />
              </div>
              <div class="form-group">
                <label for="productCategory">Catégorie:</label>
                <select class="form-control" id="productCategory">
                  <option>Fruits</option>
                  <option>Légumes</option>
                  <option>Aliments divers</option>
                </select>
              </div>
              <div class="form-group">
                <label for="productPrice">Prix:</label>
                <input
                  type="number"
                  class="form-control"
                  id="productPrice"
                  required
                  min="0"
                  step="0.01"
                  oninput="validity.valid||(value='');"
                />
                <div class="form-group form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="promotionCheck"
                    [(ngModel)]="isPromotionEnabled"
                    (change)="toggleDiscountFields()"
                  />
                  <label class="form-check-label" for="promotionCheck"
                    >Mettre en promotion</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label for="discountPercentage"
                  >Pourcentage de promotion:</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="discountPercentage"
                  min="0"
                  max="100"
                  step="0"
                  oninput="validity.valid||(value='');"
                  [disabled]="!isPromotionEnabled"
                />
              </div>
              <div class="form-group">
                <label for="prix final remisé">Prix final remisé:</label>
                <input
                  type="number"
                  class="form-control"
                  id="prix remisé"
                  min="0"
                  step="0.01"
                  oninput="validity.valid||(value='');"
                  [disabled]="!isPromotionEnabled"
                />
              </div>
              <div class="form-group">
                <label for="startDate">Date de début de promotion:</label>
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  name="startDate"
                  [disabled]="!isPromotionEnabled"
                />
              </div>
              <div class="form-group">
                <label for="endDate">Date de fin de promotion:</label>
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="endDate"
                  [disabled]="!isPromotionEnabled"
                />
              </div>

              <button type="submit" class="btn btn-primary">
                Créer Produit
              </button>
            </form>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <h3>Liste des Produits en Promotion</h3>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Catégorie</th>
                  <th>Prix Original</th>
                  <th>Pourcentage de Promotion</th>
                  <th>Prix Remisé</th>
                </tr>
              </thead>
              <tbody id="promotionList">
                <!-- Les produits en promotion seront ajoutés ici -->
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </section>
</main>
