<body class="text-light" style="background-color: #96bea3">
  <main>
    <section
      id="hero"
      class="py-5"
      style="
        background-image: url(../assets/images/fruits\ et\ legumes3.jpg);
        background-size: cover;
        background-position: center;
      "
    >
      <div class="container">
        <div class="d-flex flex-column flex-column-reverse flex-md-row">
          <div class="col col-md-5 me-md-5">
            <h1 class="fs-1 mb-3 fw-bold text-dark">
              Bienvenue chez Supermarché Mercadona
            </h1>
            <p class="fs-5 text-dark">
              Votre marché de confiance pour une fraîcheur quotidienne.
              Découvrez une sélection variée de produits alimentaires, des
              fruits et légumes de saison aux spécialités locales, le tout dans
              un cadre accueillant et chaleureux.
            </p>
            <p class="fs-5 text-dark">
              Notre engagement est de vous offrir qualité et variété à des prix
              compétitifs. Mercadona, l'adresse de toutes vos envies gourmandes
              !
            </p>
          </div>

          <div class="col col-md-7">
            <div>
              <div class="image-fade"></div>
              <img
                class="img-fluid rounded mb-4 mb-md-0"
                src="../assets/images/fruits et legumes4.jpg"
                alt="image de fruits et legumes "
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="py-5">
      <div class="container">
        <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/fraise.jpg"
                alt="image fraise"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Fraise "Savourez la douceur naturelle de nos fraises
                    fraîchement cueillies. Parfaites pour vos desserts maison."
                    Prix : 3,99€/kg
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/mure.jpg"
                alt="image mûre"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Mûre "Des mûres juteuses, uniques et gorgées de saveurs,
                    cueillies à maturité pour une qualité premium." Prix :
                    4,50€/barquette
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/cerise.jpg"
                alt="image cerise"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Cerise "Cerises croquantes et sucrées, un régal estival qui
                    ravit les papilles à chaque bouchée." Prix : 5,00€/kg
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/aubergine.jpg"
                alt="image aubergine"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Aubergine "Nos aubergines lisses et brillantes sont
                    l'ingrédient idéal pour vos gratins et moussakas." Prix :
                    2,99€/kg
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/carotte.jpg"
                alt="image carotte"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Carotte "Carottes croquantes et nutritives, parfaites pour
                    vos potages ou râpées en salade maison." Prix : 1,50€/kg
                  </h2>
                </a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/tomate.jpg"
                alt="image tomate"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Tomate "Tomates rouges vives, gorgées de soleil, elles
                    apporteront une touche de fraîcheur à vos salades." Prix :
                    2,50€/kg
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/soja.jpg"
                alt="image soja vert"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Soja vert "Profitez des bienfaits du soja vert, idéal pour
                    vos recettes végétariennes et salades." Prix : 1,99€/500g
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/pain.jpg"
                alt="image pain"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">Pain au blé complet Prix : 2,50€/unité</h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/beurre.jpg"
                alt="image beurre"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Beurre maison "Beurre onctueux fait maison, la touche
                    authentique pour sublimer vos tartines et recettes." Prix :
                    3,00€/250g
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/miel.jpg"
                alt="image miel"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Miel "Miel pur et naturel, sucré à souhait pour adoucir vos
                    thés ou accompagner vos toasts." Prix : 6,00€/pot
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/confiture.jpg"
                alt="image confiture"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Confiture maison fraise "Confiture de fraise préparée à la
                    maison, avec des fruits sélectionnés au goût intense." Prix
                    : 4,00€/pot
                  </h2>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark border-0">
              <img
                class="card-img-top"
                src="../assets/images/beurre de cacahuete.jpg"
                alt="image beurre de cacahuète"
              />
              <div class="card-body">
                <a
                  class="text-light link-info bg-info text-decoration-none"
                  href="#"
                >
                  <h2 class="fs-5">
                    Beurre de cacahuète "Beurre de cacahuète crémeux et riche,
                    une source d'énergie parfaite pour démarrer la journée."
                    Prix : 2,99€/pot
                  </h2>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
